
<form action="answer" data-turbo="false">
<h2 class ="p-2">Stupid coaching</h2>
<p class ="p-2">Ask your coach anything : </p>
<div class="input-group p-2">
  <input type="text" class="form-control" aria-describedby="basic-addon2" name="question" placeholder="question">
  <input span class="input-group-text  btn-primary" id="basic-addon2" type="submit" value="Ask!">
</form>
</div>
